



.container{
    margin: 0 auto;
    text-align: center;
}

.main-board{
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    /*border: solid 5px black;*/
    /*border-radius: 600px;*/
}

.color {
    margin: 0;
    float:left;
    position: relative;
    width: 290px;
    height: 290px;
    border: solid 3px black;
}

.green {
  background-color: rgb(2, 249, 2);
  border-top-left-radius: 100%;
  opacity: .3;
  border: solid 3px black;
}

.red {
  background-color: rgba(255, 0, 0);
  opacity: .3;
  border-top-right-radius: 100%;
  border: solid 3px black;
}

.blue {
  background-color: rgba(0, 0, 255);
  border-bottom-left-radius: 100%;
  opacity: .3;
  border: solid 3px black;

}

.yellow {
  background-color: rgba(252, 252, 7);
  border-bottom-right-radius: 100%;
  opacity: .3;
  border: solid 3px black;
}

.black-dot {
    width: 245px;
    height: 245px;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    margin-left: 175px;
    margin-top: 175px;
    
     
}

.simon{
    padding-top: 20%;
    font-size: 25px;
}

.score {
    border: 2px solid white;
    border-radius: 15%;
    text-align: center;
    padding-top: 25px; 
    font-size: 22px;
    width: 70px;
    height: 50px;
    position: absolute;
    margin-left: 34%;
    margin-top: 10%
   
}

.button-class{
   padding-top: 5%;
   text-align: center;
   
}

button{
 background-color: limegreen; 
 color: white; 
 height:100px;
 width: 200px;  
 border-radius: 10px;
 font-size: 20px;
 border: 3px solid black

}

.activated {
  opacity: 1;
}

.hidden {
  display: none;
}