body {
  text-align: center;
  background-color: purple;
  color:white;
  margin: 6%;
}

.toDoRow {
  display:flex;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
  align-items: center;

}

.listitem {
  display: flex; 
  word-wrap: break-word;
  font-size: 1.8rem;
  flex-wrap: wrap;
  width: 60%;
}

.login {
  margin-top: 3%;
}

.login input {

  margin-top: 5%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;

}

 .login Button {
  margin-top: 10%;
  margin-bottom: 10%;
 }

 h1{
  font-size: 80px
 }

 .newtodo {
   font-size: 1.5rem;
   margin-top: 60px;
 }

 .newtodo input {
  margin: 15px;
  margin-right: 60px;

 }

 h2 {
  font-size: 2rem;
 }

 .greeting {
  font-size: 2rem;
  margin-top: 75px;
  margin-bottom: 75px;
 }